@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Sora:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
    background-color: #FAFAFA;
}

h2, h3, h4 {
    font-family: Lato;
    font-weight: 600;
}

h1 {
    font-family: Sora;
}

header {
    display: flex;
    margin-top: 4em;
    justify-content: center;
}

.tabs {
    margin-left: auto;
}

header h1 {
    padding-top: 0.1em;
    font-size: 70px;
}

header h2 {
    font-size: 35px;
    padding: 1.2em 0.7em 0.7em 0.7em;
}

header img {
    width: 150px;
    height: 100px;
    padding-left: 2em;
}

/* main content */

.place {
    font-family: Sora;
    font-weight: 500;
    font-size: 30px;
}



.current-weather p {
    font-family: Sora;
    font-weight: 500;
    font-size: 16px;
}

.current-weather img {
    width: 100px;
    height: 100px;
}

.weather-content {
    display: flex;
    justify-content: space-around;
    padding: 5em;
}

.hourly-weather {
    display: flex;
    padding: 1em;
}

.hourly-weather div, .daily-weather div, .current-weather {
    border: hidden 1px gray;
    box-shadow: 10px 10px 5px gainsboro;
    padding: 1em;
    margin: 1em;
}

.hourly-weather div p, .hourly-weather div h3, .daily-weather div p, .daily-weather div h4 {
    text-align: center;
    font-family: Lato;
    font-weight: 600;
}

.hourly-weather div p, .daily-weather div p {
    font-size: 20px;
}

.daily-weather div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.weather-content h2 {
    padding-left: 1em;
    font-family: Sora;
    font-weight: 600;
}

.search {
    padding-left: 8.5em;
}

main {
    margin: 10em;
}

.current-weather div {
    display: flex;
    justify-content: space-evenly;
}

.current-weather h2 {
    padding-top: 1em;
}

.news div {
    margin: 1em;
    padding: 2em;
}

.news div .yesterday-news, .news div div div {
    border: hidden 1px gray;
    box-shadow: 10px 10px 5px gainsboro;
}

.news {
    display: flex;
}

.weeks-ago {
    display: flex;
    flex-direction: column;
}

.news .yesterday {
    padding-top: 4.5em;
}

.news a {
    font-family: Sora;
    font-size: 22px;
    text-decoration: none;
    color: rgb(38, 71, 4);
    background-color: rgb(171, 236, 236);
    padding: .5em;
    border-radius: 15px;
}

a:hover {
    background-color: darksalmon;
}

#current_date {
    font-size: 20px;
    font-weight: 600;
}

.twoWeeks img, .weeks-ago img {
    width: 500px;
    height: 300px;
}

.yesterday img {
    width: 700px;
    height: 400px;
}